body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
}

.container {
  border-radius: 5%;
  border: 1px solid lightgrey;
  background-color: whitesmoke;
  padding: 5px;
}

.display {
  border-radius: 5%;
  height: 50px;
  border: 1px solid darkgrey;
  background-color: whitesmoke;
  font-size: xx-large;
  text-align: right;
  margin: 2px;
  padding: 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.operators {
  display: grid;
}

.button {
  padding: 5px 20px;
  margin: 2px;
  border-radius: 10%;
  transition-duration: 0.05s;

  background-color: lightgrey;
}

.buttonEffect {
  transform: scale(0.95);
  background-color: darkgrey;
}

.buttonPressed {
  background-color: darkgrey;
}

.button[data-button="eq"] {
  grid-column: 2 / span 2;
}
